extends layout

block content
    // display the detail of the first item
    - var item = doctor
    h3= item.name
    h5= item.full_address
    div#example-grid
        div.row
            div.eight.columns= "Practices: " + item.categories[0] + " and " + item.categories[1]
        div.row
            div.eight.columns= "Scheduled Appointments Required: true"
        div.row
            div.four.columns= "Reviews: " + item.review_count
            div.four.columns= "Stars: " + item.stars
        div.row
            div.three.columns Coordinates
            div.four.columns= "Longitude " + item.longitude
            div.four.columns= "Latitude " + item.latitude
