extends layout 

block content 
	- var item = restaurant 
	- var usersJade = users
	- var tipsJade = tips
	h3(style = 'text-align: center')=item.name
	div.row(style = 'text-align: center')
		div.twelve.columns  #{item.city} , #{item.state}
	br 
	div.row(style = 'text-align: center')
		img(src='/images/rest.png')
	br
	h4(style = 'text-align: center; opacity: .5') Reviews
//	each user,i in usersJade
//		each tip,j in tipsJade 
//			if i === j
//				div.row
//					div.four.columns
//						p #{user.name} 
//					div.four.columns
//						p #{tip.text}
//					div.four.columns(style = 'color:black')
//						h4 &#10029&#10029&#10029