extends layout

// TODO: use the better template from the hackathon
block content
    - var item = doctor
    - var days = ["Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday", "Sunday"]
    div#example-grid
        div.six.columns
            div.row
                div.six.column=item.name
            div.row
                div.three.columns City:
                div.three.columns=item.city
            div.row
                div.three.columns State:
                div.three.columns=item.state
            div.row
                div.three.columns Stars:
                div.three.columns=item.stars

        div.six.columns
            div.row
                each day in days
                    if(item.hours[day])
                        div.row=day
                            div.three.columns="open: "+item.hours[day].open
                            div.three.columns="close: "+item.hours[day].close
